.cup {
  position: relative;
  width: 220px;
  height: 180px;
  border: 3px solid #ffefdb;
  box-shadow: 0 0 0 12px #352a22;
  border-radius: 10px 10px 60px 75px;
  background: url('/coffee.png');
  background-repeat: repeat-x;
  background-position: 0 130px;
  margin-top: 100px;
  /* animation: filling 4s infinite; */
  /* We will animate X separately if possible, or combine */
  animation: wave 15s infinite linear;
  transition: background-position-y 0.3s ease-out;
}

@keyframes wave {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 600px;
  }
}

.cupHandle {
  position: absolute;
  top: 10px;
  right: -74px;
  width: 65px;
  height: 120px;
  border: 12px solid #352a22;
  border-radius: 20px 10px 50px 20px;
}

.steam {
  position: absolute;
  border-radius: 10px 2px;
  width: 8px;
  animation: steaming 2s infinite;
}

.steam:nth-child(1) {
  top: -70px;
  left: 65px;
  height: 30px;
  background: #8e5a3423;
  animation-delay: .2s;
}

.steam:nth-child(2) {
  top: -120px;
  left: 95px;
  height: 50px;
  background: #8e5a3454;
  animation-delay: .6s;
}

.steam:nth-child(3) {
  top: -90px;
  left: 125px;
  height: 40px;
  background: #8e5a3433;
  animation-delay: 1s;
}

@keyframes steaming {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    filter: blur(.8px);
    transform: translateY(-10px);
  }
}

.paused .cup,
.paused .steam {
  animation-play-state: paused;
}